.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.container {
	width: 620px;
	margin: 0 auto;
}	
	.title {
		background-color: #ff8663;  
		padding: 0 10px;
		
	}
		.title-h1 {
			color: #fff;
			font-size: 16px;
			float: left;
		}
		.title-close {
			font-weight: bold;
			color: #fff;
			float: right;
			padding-top: 10px;
		}
	.filter-form {
		background-color: #f0f0f0;
		padding: 10px 14px; 
		margin: 0 auto;
		font-size: 0;
	}
		.filter-input {
			width: 286px;
			box-sizing: border-box;
			border-radius: 30px;
			padding: 5px;
			outline: none;
		}
		.filter-input:first-of-type {
			margin-right: 20px;
		}
	.container-list {
		font-size: 0;
	}
		.list {
			width: 50%;
			display: inline-block;
			vertical-align: top;
		}
			.list-title {
				color: #4f4f4f;
				font-size: 12px;
				padding: 10px 15px;
				vertical-align: top;
			}
			.list-friends {
				padding-left: 15px;
				height: 325px;
				overflow: auto;
			}
			.face {
				width: 45px;
				height: 45px;
				border: 1px solid green;
				display: inline-block;
				float: left;
			}
			.list-friends li p {
				font-size: 15px;
				display: inline-block;
				float: left;
				margin-left: 10px;
			} 
			.icon {
				float: right;
				padding-top: 10px; 
				padding-right: 5px;
				 
			}


	.footer {
		background-color: #f0f0f0;
		padding: 10px; 
		text-align: right;
	}
		.footer-save {
			color: #fff;
			background-color: #ff8663;
			padding: 5px 10px;
			display: inline-block;
			border-radius: 30px;
		}